{% extends 'base_r/main.html' %}

{% load static %}

{% block content %}

<section class='container'>
    <form method="POST">
        {% csrf_token %}
        <h2 class='text-center m'>Korepetycje już się odbyły?</h2>
        <h5 class='text-center'>Uczeń zostanie poinformowany o twojej decyzji.</h5>
        <div class='text-center'>
        <input class="btn btn-outline-success py-1 font-weight-bold m" type="submit" value="Tak" />
        <a href="{% url 'all_orders' %} " class="btn btn-primary m">Anuluj </a>
        </div>
    </form>
    </section>
{% endblock content %}